<section class="ui center aligned middle aligned segment"
         style="border: 3px solid black; border-radius: 10px; background-color: #DB65C6;">
  <div class="ui segment" style="border: 3px solid black;">
    <div class="ui two column very relaxed grid">
      <div class="column">
        <img class="ui image" id="mainImage" src="https://res.cloudinary.com/dtf6gxvaq/image/upload/v1679401943/ChecklistTracker_bp1swb.jpg">
      </div>
      <div class="column" style="margin-top: 40px">
        <h3>Application Website:</h3>
        <h4>https://intense-river-70673.herokuapp.com/</h4>
        <h3>Github Repo:</h3>
        <h4>https://github.com/Craig-WIT/fintechWorkflowTracker</h4>
        <h3>YouTube Demo:</h3>
        <h4>https://www.youtube.com/watch?v=cdgZqWlw5PU</h4>
        <h3>Trello:</h3>
        <h4>https://trello.com/w/userworkspace40993042</h4>
        <h3>Presentation:</h3>
        <a id="link" href="https://res.cloudinary.com/dtf6gxvaq/raw/upload/v1682100997/FintechWorkflow_Presentation_oa5hly.pptm"><h3>Slides</h3></a>
        <h4></h4>
      </div>
    </div>
    <div class="ui vertical divider">
      Resources
    </div>
  </div>
</section>