<nav class="ui inverted secondary menu" style="border: 3px solid black; border-radius: 10px; background-color: black">
  <div class="right menu">
    <a id="signup" class="item" href="/signup">Sign Up</a>
    <a id="login" class="item" href="/login">Login</a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>